$primary-text-color: #333;
$primary-background-color: #f4f4f4;
$header-background-color: #555;
$header-text-color: #f4f4f4;
$header-text-color-hover: #d4d4d4;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $header-background-color;
  height: 3rem;
}

.header-logo {
  margin-left: 0.5rem;
  a {
    color: $header-text-color;
    font-size: 1.5rem;
  }
}

.header-navigation {
  display: flex;
  height: 100%;
  padding: 0 1rem;
  align-items: center;

  .spacer {
    flex: 1;
  }
}

.header-nav-items {
  ul {
    display: flex;
  }

  li {
    padding: 0 0.5rem;
  }
  a {
    color: $header-text-color;
  }
  a:hover,
  a:active {
    color: $header-text-color-hover;
  }
}

@media (max-width: 768px) {
  .header-nav-items {
    display: none;
  }
}

@media (min-width: 769px) {
  .btn-side-menu-toggle {
    display: none;
  }

  .header-logo {
    margin-left: 0;
  }
}
